@media (min-width: 540px) and (max-width: 719.89px) {
  div.row div.col-sm-7 p.overflow-hidden {
    max-height: 7rem !important;
  }
}

/* UNTUK MENGECILKAN TEKS DI LAYAR HP (MINI) PADA AREA KONTAK KAMI */
@media (max-width: 435px) {
  .kontak-area {
    font-size: 17px;
  }

  .label-url {
    font-size: 85%;
  }
}
